<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anti Pattern Detector - About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->
<div class="container">
    <h1>About</h1>
    <p>
        <strong>App version:</strong> 1.0.0
        <br>
        <strong>Author:</strong> Ondřej Váně
        <br>
        <strong>E-mail:</strong> <a href="mailto:vaneo@students.zcu.cz">vaneo@students.zcu.cz</a>
    </p>
    <p>
        This application is used to detect presence of anti-patterns in project management tools data. Seven selected anti-patterns are implemented in this application.
    </p>

</body>
</html>
