<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anti Pattern Detector - Anti Pattern details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Container for show error message -->
<div class="container">
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>
</div>
<!-- ./Container for show error message -->
<!-- Container for show success message -->
<div class="container">
    <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert">
    </div>
</div>
<!-- ./Container for show success message -->

<!-- Card for anti pattern details-->
<div class="card">
    <!-- Card header -->
    <div>
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h3 th:text="${antiPattern.printName}"></h3>

                <!-- Anti pattern catalogue file name is filled -->
                <a th:if="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                   id="antiPatternCatalogueUrl"
                   th:href="${antiPattern.getFullCatalogueUrl()}"
                   target="_blank">&nbsp;View in catalogue
                </a>
                <!-- Anti pattern catalogue file name is filled -->

                <!-- Anti pattern catalogue file name is NOT filled -->
                <del>
                    <a th:unless="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                       id="antiPatternCatalogueUrl"
                       target="_blank"
                       style="color: grey; margin-left:5px">View in catalogue
                    </a>
                </del>
            </div>
            <small th:unless="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                   style="color: grey"> This anti-pattern is not occur in catalogue or anti-pattern file name is it not
                filled in model class </small>
            <!-- ./Anti pattern catalogue file name is NOT filled -->
        </div>
    </div>
    <!-- ./Card header -->

    <div class="card-body">

        <!-- Anti pattern description -->
        <div class="form-group">
            <h5 for="antiPatternDescription">Anti Pattern Description</h5>
            <textarea disabled class="form-control" id="antiPatternDescription" rows="5"
                      th:text="${description}"></textarea>
        </div>
        <!-- ./Anti pattern description -->

        <hr>

        <!-- Anti pattern operationalization -->
        <div class="operationalization-detail">
            <h5 style="display: inline-block">Anti Pattern Operationalization Detail</h5>
            <button type="button" class="btn edit-button" onclick="enableEdit()">
                <i class="fa fa-pen-to-square fa-lg"></i>
            </button>
            <div class="main-content" id="antiPatternOperationalization">
                <div class="text-editor-header" id="editorHeader">
                    <button type="button" class="btn rt" data-element="bold">
                        <i class="fa fa-bold"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="italic">
                        <i class="fa fa-italic"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="underline">
                        <i class="fa fa-underline"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="codeFormat">
                        <i class="fa fa-code"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="justifyLeft">
                        <i class="fa fa-align-left"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="justifyCenter">
                        <i class="fa fa-align-center"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="justifyRight">
                        <i class="fa fa-align-right"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="header1">
                        <i class="fa fa-heading fa-sm">1</i>
                    </button>
                    <button type="button" class="btn rt" data-element="header2">
                        <i class="fa fa-heading fa-sm">2</i>
                    </button>
                    <button type="button" class="btn rt" data-element="header3">
                        <i class="fa fa-heading fa-sm">3</i>
                    </button>
                    <button type="button" class="btn rt" data-element="insertUnorderedList">
                        <i class="fa fa-list-ul"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="insertOrderedList">
                        <i class="fa fa-list-ol"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="createLink">
                        <i class="fa fa-link"></i>
                    </button>
                    <button type="button" class="btn rt" data-element="insertImage">
                        <i class="fa fa-image"></i>
                    </button>
                    <input type="file" id="imageInput" name="fileupload" hidden>
                    <button id="upload-button" onclick="uploadFile()" hidden></button>
                </div>
                <div class="content form-control" id="content-area" onload="getContent()" th:utext="${antiPattern.getOperationalizationText()}"></div>
            </div>
            <form id="operationalization-form" action="#" th:action="@{/anti-patterns/} + ${antiPattern.id} + @{/operationalization}" th:object="${antiPattern}" method="post">
                <div class="save-operationalization-button-container">
                    <textarea style="display:none" id="contentTextArea" name="contentTextArea"></textarea>
                    <button type="submit" class="btn btn-primary custom-button" id="op_save_button">Save changes</button>
                </div>
            </form>

        </div>
        <!-- ./Anti pattern operationalization -->

        <hr>

        <!-- Anti pattern configuration form -->
        <h5>Anti Pattern Configurations</h5>

        <!-- Form for configuration values -->
        <form action="#" th:action="@{/anti-patterns/} + ${antiPattern.id}" th:object="${antiPattern}" method="post">
            <div th:each="threshold : ${antiPattern.thresholds}" class="form-group">
                <label th:text="${threshold.value.printName} + ':'"
                       th:for="${threshold.value.name}"></label>
                <small th:text="${threshold.value.description}" th:value="${threshold.value.name}"
                       class="form-text text-muted"></small>
                <input th:if="${threshold.value.isErrorMessageShown}" th:value="${configurations.get(antiPattern.name).get(threshold.value.name)}" class="form-control is-invalid" th:id="${threshold.value.name}"
                       name="thresholdValues">
                <input th:unless="${threshold.value.isErrorMessageShown}" th:value="${configurations.get(antiPattern.name).get(threshold.value.name)}" class="form-control" th:id="${threshold.value.name}"
                       name="thresholdValues">
                <input th:value="${threshold.value.name}" style="display: none" class="form-control"
                       name="thresholdNames">
                <input th:value="${antiPattern.name}" style="display: none" class="form-control"
                       name="antiPatternNames">
                <small th:if="${threshold.value.isErrorMessageShown}" th:text="${threshold.value.errorMessage}" th:value="${threshold.value.errorMessage}"
                       class="form-text text-danger"></small>

            </div>
            <div class="save-individual-configuration-button-container">
                <button type="submit" class="btn btn-primary custom-button" id="configuration-save-button-individual" name="configuration-save-button-individual" hidden>Save</button>
            </div>
            <!-- ./Anti pattern configuration form -->
        </form>
        <!-- ./Form for configuration values -->
    </div>
</div>
<!-- ./Card for anti pattern details-->

<!-- Scripts -->
<script th:src="@{/resources/js/editor.js}"></script>
<script th:src="@{/resources/js/login.js}"></script>
<script th:src="@{/resources/js/config-edit.js}"></script>
<!-- ./Scripts -->

</body>
</html>
