<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anti Pattern Detector - Anti Pattern details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .card {
            margin-top: 40px;
            margin-left: 5%;
            margin-right: 5%;

        }
    </style>
</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->
<div class="card">
    <h5 class="card-header">Anti Pattern</h5>
    <div class="card-body">
        <div class="form-group">
            <label for="projectId">Anti Pattern Id:</label>
            <input disabled type="text" class="form-control" id="projectId" th:value="${antiPattern.id}">
        </div>
        <div class="form-group">
            <label for="projectId">Project id:</label>
            <input disabled type="text" class="form-control" id="projectName" th:value="${antiPattern.printName}">
        </div>
        <div class="form-group">
            <label for="projectId">Project id:</label>
            <textarea disabled class="form-control" id="projectDescription" rows="5" th:text="${antiPattern.description}"></textarea>
        </div>
    </div>
</div>

</body>
</html>
