<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anti Pattern Detector - Anti Pattern details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .card {
            margin-top: 40px;
            margin-left: 5%;
            margin-right: 5%;
        }

        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Container for show error message -->
<div class="container">
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>
</div>
<!-- ./Container for show error message -->
<!-- Container for show success message -->
<div class="container">
    <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert">
    </div>
</div>
<!-- ./Container for show success message -->

<!-- Card for anti pattern details-->
<div class="card">
    <!-- Card header -->
    <div>
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h3 th:text="${antiPattern.printName}"></h3>

                <!-- Anti pattern catalogue file name is filled -->
                <a th:if="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                   id="antiPatternCatalogueUrl"
                   th:href="${antiPattern.getFullCatalogueUrl()}"
                   target="_blank">&nbsp;View in catalogue
                </a>
                <!-- Anti pattern catalogue file name is filled -->

                <!-- Anti pattern catalogue file name is NOT filled -->
                <del>
                    <a th:unless="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                       id="antiPatternCatalogueUrl"
                       target="_blank"
                       style="color: grey; margin-left:5px">View in catalogue
                    </a>
                </del>
            </div>
            <small th:unless="${antiPattern ne null and antiPattern.catalogueFileName ne null}"
                   style="color: grey"> This anti-pattern is not occur in catalogue or anti-pattern file name is it not
                filled in model class </small>
            <!-- ./Anti pattern catalogue file name is NOT filled -->
        </div>
    </div>
    <!-- ./Card header -->

    <div class="card-body">

        <!-- Anti pattern description -->
        <div class="form-group">
            <label for="antiPatternDescription">Anti Pattern description:</label>
            <textarea disabled class="form-control" id="antiPatternDescription" rows="5"
                      th:text="${antiPattern.description}"></textarea>
        </div>
        <!-- ./Anti pattern description -->

        <!-- Anti pattern configuration form -->
        <h5>Anti Pattern configurations</h5>

        <!-- Form for configuration values -->
        <form action="#" th:action="@{/anti-patterns/} + ${antiPattern.id}" th:object="${antiPattern}" method="post">
            <div th:each="config : ${antiPattern.configurations}" class="form-group">
                <label th:text="${config.value.printName} + ':'"
                       th:for="${config.value.name}"></label>
                <input th:value="${config.value.value}" class="form-control" th:id="${config.value.name}"
                       name="configValues">
                <input th:value="${config.value.name}" style="display: none" class="form-control"
                       name="configNames">
                <small th:text="${config.value.description}" th:value="${config.value.name}"
                       class="form-text text-muted"></small>
            </div>
            <div class="analyze-button-container">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save configuration</button>
            </div>
            <!-- ./Anti pattern configuration form -->
        </form>
        <!-- ./Form for configuration values -->
    </div>
</div>
<!-- ./Card for anti pattern details-->

</body>
</html>
