<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anti Pattern Detector - Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Page body -->
<div class="container">

    <!-- Container for show error message -->
    <div class="container">
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
        </div>
    </div>
    <!-- ./Container for show error message -->
    <!-- Container for show success message -->
    <div class="container">
        <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert">
        </div>
    </div>
    <!-- ./Container for show success message -->

    <h1>Configuration</h1>
    <hr>
        <!-- Form for configuration values -->
        <form action="#" th:action="@{/configuration}" th:object="${antiPatterns}" method="post" id="configuration-form">

            <div class="panel-group" id="accordion">
                <div th:each="antiPattern : ${antiPatterns}">
                    <div class="panel panel-default">
                            <h3 class="panel-title ap-configuration-header">
                                <a class="ap-configuration-header" data-toggle="collapse" data-parent="#accordion" th:href="${'#'+ antiPattern.name}" th:text="${antiPattern.printName}"></a>
                            </h3>
                        <div th:id="${antiPattern.name}" class="panel-collapse collapse in">
                            <div th:each="threshold : ${antiPattern.thresholds}">
                                <div class="form-group row">
                                    <label th:text="${threshold.value.printName} + ':'" th:for="${threshold.value.name}"
                                           class="col-sm-5 col-form-label"></label>
                                    <div class="col-sm-5">
                                        <small th:text="${threshold.value.description}" th:value="${threshold.value.name}"
                                               class="form-text text-muted"></small>
                                        <div id="wrapper">
                                            <div id="first">
                                                <input th:if="${threshold.value.isErrorMessageShown}" th:value="${configurations.get(antiPattern.name).get(threshold.value.name)}"
                                                       class="form-control is-invalid" th:id="${threshold.value.name}"
                                                       name="thresholdValues">
                                                <input th:unless="${threshold.value.isErrorMessageShown}"
                                                       th:value="${configurations.get(antiPattern.name).get(threshold.value.name)}"
                                                       class="form-control" th:id="${threshold.value.name}"
                                                       name="thresholdValues">
                                                <input th:value="${threshold.value.name}" style="display: none" class="form-control"
                                                       name="thresholdNames">
                                                <input th:value="${antiPattern.name}" style="display: none" class="form-control"
                                                       name="antiPatternNames">
                                            </div>
                                            <div th:if="${#strings.contains(threshold.value.name,'Substrings')}" id="second"
                                                 style="margin: 10px; padding-left: 10px">
                                                <svg style="display: inline-block"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     width="20" height="20"
                                                     fill="currentColor"
                                                     class="bi bi-info-circle"
                                                     viewBox="0 0 16 16"
                                                     data-container="body"
                                                     data-toggle="popover"
                                                     data-placement="right"
                                                     data-content="Insert search substrings separated by characters ||, you can enter substrings in sql regex syntax and maximum number of search substrings is ten.">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                </svg>
                                            </div>
                                        </div>

                                        <small th:if="${threshold.value.isErrorMessageShown}" th:text="${threshold.value.errorMessage}"
                                               th:value="${threshold.value.errorMessage}"
                                               class="form-text text-danger"></small>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- Submit button to save configuration -->
            <div class="text-center save-configuration-button-container">
                <button type="submit" class="btn btn-primary btn-lg custom-button" id="configuration-save-button" name="configuration-save-button" disabled hidden>Save</button>
                <div class="input-group w-25 mx-auto" style="margin: 15px">
                    <input type="text" class="form-control" placeholder="New configuration name" id="configuration-save-as-input" name="configuration-save-as-input">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" id="configuration-save-as-button" name="configuration-save-as-button" disabled hidden>Save as</button>
                    </div>
                </div>
            </div>
            <!-- ./Submit button to save configuration -->
        </form>
        <!-- ./Form for configuration values -->
    </div>
    <!-- ./Page body -->


    <!-- Scripts -->
    <script th:src="@{/resources/js/core.js}"></script>
    <script th:src="@{/resources/js/login.js}"></script>
    <script th:src="@{/resources/js/config-edit.js}"></script>
    <!-- ./Scripts -->

</body>
</html>

