<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anti Pattern Detector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script th:src="@{/resources/js/core.js}"></script>
</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Form for selecting projects and anti patterns-->
<form action="#" th:action="@{/analyze}" th:object="${query}" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Projects</h1>
            </div>
            <div class="col">
                <h1>Anti-patterns</h1><br>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- Table for selecting projects -->
                <table th:if="${not #lists.isEmpty(query.projects)}" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Detect?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${query.projects}">
                        <td th:text="${project.id}"></td>
                        <td th:text="${project.name}"></td>
                        <td><a th:href="@{'/projects/' + ${project.id}}">Show</a></td>
                        <td style="text-align: center">
                            <input checked type="checkbox" class="form-check-input" name="selectedProjects"
                                   th:value="${project.id}" th:id="@{project_} + ${project.id}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input checked type="checkbox" class="form-check-input" id="select_all_projects"
                                   onclick="checkAllProjects(this)">
                            <label class="form-check-label" for="select_all_projects">Select All</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:unless="${not #lists.isEmpty(query.projects)}" class="alert alert-danger" role="alert">
                    There are no projects to analyze!
                </div>
                <!-- ./Table for selecting projects -->
            </div>
            <div class="col">
                <!-- Table for selecting anti patterns -->
                <table th:if="${not #lists.isEmpty(query.antiPatterns)}" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Anti-pattern</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Detect?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="antiPattern : ${query.antiPatterns}">
                        <td th:text="${antiPattern.id}"></td>
                        <td th:text="${antiPattern.printName}"></td>
                        <td><a th:href="@{'/anti-patterns/' + ${antiPattern.id}}">Show</a></td>
                        <td style="text-align: center">
                            <input checked type="checkbox" class="form-check-input" name="selectedAntiPatterns"
                                   th:value="${antiPattern.id}" th:id="@{anti-pattern_} + ${antiPattern.id}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input checked type="checkbox" class="form-check-input" id="select_all_anti_patterns"
                                   onclick="checkAllAntiPatterns(this)">
                            <label class="form-check-label" for="select_all_anti_patterns">Select All</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:unless="${not #lists.isEmpty(query.antiPatterns)}" class="alert alert-danger" role="alert">
                    There are no anti-patterns to detect!
                </div>
                <!-- ./Table for selecting anti patterns -->
            </div>
        </div>
    </div>

    <!-- Container for show error message -->
    <div class="container">
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
        </div>
    </div>
    <!-- ./Container for show error message -->

    <!-- Container for progress bar -->
    <div class="container" id="progressBar" style="display: none">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
    </div>
    <!-- ./Container for progress bar -->

    <!-- Container for analyze button -->
    <div class="analyze-button-container">
        <button id="analyzeButton" type="submit" class="btn btn-primary btn-lg btn-block" onclick="showProgressBar()" th:disabled="${#lists.isEmpty(query.projects) or #lists.isEmpty(query.antiPatterns)}">Detect</button>
    </div>
    <!-- ./Container for analyze button -->

</form>
<!-- ./Form for selecting projects and anti patterns-->

<!-- Scripts -->
<script th:src="@{/resources/js/login.js}"></script>
<!-- ./Scripts -->

</body>
</html>
