<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anti Pattern Detector - About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Container for show error message -->
<div class="container">
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>
</div>
<!-- ./Container for show error message -->

<div class="container">
    <h1>Log In</h1>

    <form id="login-form" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="nameInput">Username</label>
            <input type="text" id="nameInput" name="nameInput" class="form-control" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="passInput">Password</label>
            <input type="password" id="passInput" name="passInput" class="form-control" placeholder="Enter password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<!-- Scripts -->
<script th:src="@{/resources/js/login.js}"></script>
<!-- ./Scripts -->

</body>
</html>
