<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPAWn – SPADe Web Interface - Not Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script th:src="@{/resources/js/core.js}"></script>
</head>
<body>
    <div th:replace="fragments/navbar :: navBar"></div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="err-div">
            <h1 class="err-text">404 - Content Not Found</h1>
            <p class="err-text">The specific content does not seem to be here...</p>
        </div>
    </div>
    <div th:if="${errorMsg != null}" class="row d-flex align-items-center justify-content-center">
        <h2 class="err-text">Cause</h2>
        <p class="err-text" th:text="${errorMsg}"></p>
    </div>

    <!-- Scripts -->
    <script th:src="@{/resources/js/login.js}"></script>
    <!-- ./Scripts -->

</body>
</html>